<div class="jumbotron">
	<h1>Hello</h1>
	<h2> do your thing ! Sign up <%= link_to "here", "about", class: "btn btn-warning btn-lg" %>.</h2>
	<p  class="text-warning">dont forget to have fun </p> 
<%= image_tag "image.png", class:"img-responsive" %>
</div>
		